*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

.container {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  font-size: 1.6rem;
  padding: 10rem 5rem;
  background-color: hsl(0, 0%, 100%);
  display: grid;
  place-items: center;
  grid-row-gap: 5rem;
}

.heading-2 {
  color: hsl(0, 0%, 100%);
  font-size: 1.8rem;
  font-weight: 600;
}

.heading-3 {
  color: hsl(0, 0%, 100%);
  font-size: 1.7rem;
}

.paragraph {
  color: hsl(0, 0%, 81%);
  font-size: 1.6rem;
}

.dark {
  color: hsl(219, 29%, 14%);
}

.light-dark {
  color: hsla(217, 19%, 35%, 0.7);
}

.testimonial-container {
  max-width: 144rem;
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
}

.testimonial-left {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.testimonial-box {
  padding: 3rem;
  border-radius: 1rem;
  box-shadow: 0 0 2rem 0.1rem rgba(0, 0, 0, 0.2);
}

.testimonial-1 {
  grid-column: 1 / span 2;
  background: hsl(263, 55%, 52%) url("../images/bg-pattern-quotation.svg")
    no-repeat top center;
}

.testimonial-2 {
  background-color: hsl(217, 19%, 35%);
}

.testimonial-3 {
  font-size: 3rem;
}

.testimonial-4 {
  grid-column: 2 / span 2;
  background-color: hsl(219, 29%, 14%);
}

.testimonial-right {
}

.testimonial-header {
}

.testimonial-client-item {
}

.testimonial-client-photo {
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}
